[submodule "modules/AnimatedGIF/AnimatedGIF"]
	path = modules/AnimatedGIF/AnimatedGIF
	url = https://github.com/bitbank2/AnimatedGIF.git
[submodule "modules/Doom/DOOM"]
	path = modules/Doom/DOOM
	url = https://github.com/id-Software/DOOM.git
