# Copyright (c) 2024 Joel Guittet
# SPDX-License-Identifier: Apache-2.0

config BOARD_ESP32C6_1_47_TFT
	select SOC_ESP32_C6_WROOM_1U_N8
	select SOC_ESP32C6_HPCORE if BOARD_ESP32C6_1_47_TFT_ESP32C6_HPCORE
	select SOC_ESP32C6_LPCORE if BOARD_ESP32C6_1_47_TFT_ESP32C6_LPCORE

config BOARD_ESP32C6_1_47_TFT_INIT_PRIORITY
	int "Init priority for ESP32C6 board functions"
	default 75
