# Copyright (c) 2024 Joel Guittet
# SPDX-License-Identifier: Apache-2.0

CONFIG_CONSOLE=y
CONFIG_SERIAL=y
CONFIG_UART_CONSOLE=y
CONFIG_GPIO=y

# waveshare 1.69" Touch TFT display
CONFIG_PWM=y
CONFIG_SPI=y
CONFIG_DISPLAY=y

CONFIG_INPUT=y
CONFIG_INPUT_CST816S=y
CONFIG_INPUT_CST816S_INTERRUPT=y